@{
    ViewData["Title"] = "Contacto";
}

<div class="text-center">
    <h1 class="display-4">Contacto</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Contacto</a>.</p>
</div>
